<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/header-y-footer.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <title>Mercado</title>
</head>

<body>
    <header class="main-header">
        <div class="main-header-top-bar">
            <div class="main-header-top-bar-main">
                <img src="/images/logo-mercado-liebre.svg" alt="" class="logo">
                <div class="search"><textarea placeholder="Buscar productos, marcas"></textarea><i
                        class="fas fa-search"></i></div>
            </div>
            <h2 class="copy-header">
                <i class="fas fa-hand-holding-usd"></i>
                Comprá en cuotas y sin tarjeta de crédito
            </h2>
        </div>
        <a href="" class="burger-menu"><i class="fas fa-bars"></i></a>
        <nav class="main-header-bottom-bar">
            <ul class="main-navbar">
                <li><a href="" style="list-style: none">Ofertas</a></li>
                <li><a href="" style="list-style: none">Tiendas oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
            <ul class="right-navbar">
                <li class="menu2"><a href="/register.html" class="menu2"> Creá tu cuenta</a><i
                        class="far fa-id-card"></i></li>
                <li><a href="/login.html"> Ingresá</a><i class="fas fa-sign-in-alt"></i></li>
                <li><a href=""> Mis compras</a><i class="fas fa-shopping-basket"></i></li>
            </ul>
        </nav>
    </header>
    <img class="banner" src="/images/img-home-banner.jpg">
    <main>
        <section>
            <p class="titular">Basado en tu última visita</p>
            <div class="productos">
                <article class="prod" id="prod-1">
                    <img class=imgprod src="/images/img-cafetera-moulinex.jpg" alt="">
                    <div class="datos-prod">
                        <i class="fas fa-shipping-fast icono-carrito"></i>
                        <div class="price-discount">
                            <p class="price">$6.770</p>
                            <p class="off">40% OFF</p>
                        </div>
                        <p class="desc">Cafetera Moulinex</p>
                    </div>
                </article>
                <article class="prod">
                    <img class=imgprod src="/images/img-macbook-pro-2019.jpg" alt="">
                    <div class="datos-prod">
                        <i class="fas fa-shipping-fast icono-carrito"></i>
                        <div class="price-discount">
                            <p class="price">$230.000</p>
                            <p class="off">20% off</p>
                        </div>
                        <p class="desc">MacBook Pro 2019</p>
                    </div>
                </article>
                <article class="prod">
                    <img class=imgprod src="/images/img-samsung-galaxy-s10.jpg">
                    <div class="datos-prod">
                        <i class="fas fa-shipping-fast icono-carrito"></i>
                        <div class="price-discount">
                            <p class="price">$70.500</p>
                            <p class="off">10% off</p>
                        </div>
                        <p class="desc">Samsung Galaxy S10</p>
                    </div>
                </article>
                <article class="prod">
                    <img class=imgprod src="/images/img-tv-samsung-smart.jpg">
                    <div class="datos-prod">
                        <i class="fas fa-shipping-fast icono-carrito"></i>
                        <div class="price-discount">
                            <p class="price">$23.200</p>
                            <p class="off">5% off</p>
                        </div>
                        <p class="desc">SmartTv Samsung 43"</p>
                    </div>
                </article>
            </div>
        </section>
        <section>
            <p class="titular">Sección de ofertas</p>
            <div class="productos">
                <article class="prod">
                    <img class=imgprod src="/images/img-cafetera-moulinex.jpg">
                    <div class="datos-prod">
                        <i class="fas fa-shipping-fast icono-carrito"></i>
                        <div class="price-discount">
                            <p class="price">$6.770</p>
                            <p class="off">40% off</p>
                        </div>
                        <p class="desc">Cafetera Moulinex</p>
                    </div>
                </article>
                <article class="prod">
                    <img class=imgprod src="/images/img-macbook-pro-2019.jpg">
                    <div class="datos-prod">
                        <i class="fas fa-shipping-fast icono-carrito"></i>
                        <div class="price-discount">
                            <p class="price">$230.000</p>
                            <p class="off">20% off</p>
                        </div>
                        <p class="desc">MacBook Pro 2019</p>
                    </div>
                </article>
                <article class="prod">
                    <img class=imgprod src="/images/img-samsung-galaxy-s10.jpg">
                    <div class="datos-prod">
                        <i class="fas fa-shipping-fast icono-carrito"></i>
                        <div class="price-discount">
                            <p class="price">$70.500</p>
                            <p class="off">10% off</p>
                        </div>
                        <p class="desc">Samsung Galaxy S10</p>
                    </div>
                </article>
                <article class="prod">
                    <img class=imgprod src="/images/img-tv-samsung-smart.jpg">
                    <div class="datos-prod">
                        <i class="fas fa-shipping-fast icono-carrito"></i>
                        <div class="price-discount">
                            <p class="price">$23.200</p>
                            <p class="off">5% off</p>
                        </div>
                        <p class="desc">SmartTv Samsung 43"</p>
                    </div>
                </article>
            </div>
        </section>
    </main>
    <footer>
        <section class="sugerencias">
            <i class="fas fa-credit-card"></i><br>
            <b>Pagá con tarjeta o en efectivo</b>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
            <i class="fas fa-gift"></i><br>
            <b>Envío gratis desde $ 2.500</b>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
            <i class="fas fa-user-shield"></i><br>
            <b>Seguridad, de principio a fin</b>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </section>
        <p clasS="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
</body>

</html>