<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <title>Registro</title>
</head>
<body>
    <header class="main-header">
        <div class="main-header-top-bar">
            <div class="main-header-top-bar-main">
                <img src="/images/logo-mercado-liebre.svg" alt="" class="logo">
                <div class="search">
                    <div class="search"><textarea placeholder="Buscar productos, marcas"></textarea><i class="fas fa-search"></i></div>
                </div>
            </div>
            <h2 class="copy-header">
                <i class="fas fa-hand-holding-usd"></i>
                Comprá en cuotas y sin tarjeta de crédito
            </h2>
        </div>
        <a href="" class="burger-menu"><i class="fas fa-bars"></i></a>
        <nav class="main-header-bottom-bar">
            <ul class="main-navbar">
                <li><a href="" style="list-style: none">Ofertas</a></li>
                <li><a href="" style="list-style: none">Tiendas oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
            <ul class="right-navbar">
                <li class="menu2"><a href="" class="menu2"> Creá tu cuenta</a><i class="far fa-id-card"></i></li>
                <li><a href=""> Ingresá</a><i class="fas fa-sign-in-alt"></i></li>
                <li><a href=""> Mis compras</a><i class="fas fa-shopping-basket"></i></li>
            </ul>
        </nav>
    </header>
    <form action="" method="POST">
        <label for="nombreUsuari@">Nombre de usuari@:</label>
        <input type="text" name="nombreUsuari@" id="nombreUsuari@"><br>
        <span class="feedback">Error de llenado</span>
        <label>Contraseña:<input type="password"></label><br>
        <button type="submit"><a href="/">Enviar</a></button><br>
    </form>
</body>
</html>